# {{ ansible_managed }}
############################################
# put your own settings into this file
# settings from this file will override
# those from the thruk.conf
############################################

<Component Thruk::Backend>
    <peer>
        name    = cmk
        id      = 71d81
        type    = livestatus
        <options>
            peer          = /omd/sites/cmk/tmp/run/live
        </options>
    </peer>
</Component>
<Component Thruk::Plugin::ConfigTool>
    htpasswd = /opt/omd/sites/cmk/etc/htpasswd
</Component>