# {{ ansible_managed }}
<Location /thruk/>
    AuthType Basic
    AuthName AuthProxy
    AuthBasicProvider file
    AuthUserFile /opt/omd/sites/{{ cmk_site_name }}/etc/htpasswd
    Require valid-user

    RewriteEngine On
    RewriteRule .* - [E=PROXY_USER:%{LA-U:REMOTE_USER},NS]
    RequestHeader set X-WEBAUTH-USER "%{PROXY_USER}e"
    RequestHeader unset Authorization
</Location>
