# {{ ansible_managed }}

<Component Thruk::Backend>
    <peer>
        name    = {{ cmk_site_name }}
        id      = 71d81
        type    = livestatus
        <options>
            #peer = /opt/omd/sites/{{ cmk_site_name }}/tmp/run/live
            peer = 127.0.0.1:6557
        </options>
    </peer>
</Component>